[Definition]
failregex = ^.*NOTICE.*Registration from '.*' failed for '<HOST>(:\d+)?'.*$
            ^.*NOTICE.*Failed to authenticate device .* <HOST>.*$
            ^.*SECURITY.*SecurityEvent=\"InvalidPassword\".*RemoteAddress=\"IPV[46]/[^/]+/<HOST>/\d+\".*$
            ^.*SECURITY.*SecurityEvent=\"ChallengeResponseFailed\".*RemoteAddress=\"IPV[46]/[^/]+/<HOST>/\d+\".*$
ignoreregex =
